:root {
  --primary: #2f80ed;
  --primary-dark: #344154;
  --secondary: #1ccc66;
  --tertiary: #eb5757;
  --gray-1: #3e3e3e;
  --gray-2: #b3b3b3;
  --gray-3: #989eb4;
  --light-1: #fefefe;
  --light-2: #f2f1f6;
  --overlay-dark: rgba(28, 28, 28, 0.5);
}

/* OVERRIDES */
input.form-control.placeholder-light::placeholder {
  color: var(--bs-light) !important;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* NAVBAR */
.client-dashboard-navbar li.nav-item.dropdown img {
  width: 2rem;
  height: 2rem;
  border-radius: 40rem;
}

/* COMPONENTS */
table.rounded-top-corner thead tr th:first-child {
  border-top-left-radius: 1rem;
}

table.rounded-top-corner thead tr th:last-child {
  border-top-right-radius: 1rem;
}

/* PAGES */

.client-login {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../static_images/loginuser.jpg");
  background-size: cover;
  color: var(--light-1);
}

.client-settings .client-settings--profile .header__background {
  height: 8rem;
  background-color: var(--gray-2);
  border-top-left-radius: 5rem;
}

.client-settings .client-settings--profile .header__content {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

.client-settings .client-settings--profile .header__image {
  width: 8rem;
  height: 8rem;
  border-radius: 20rem;
}
.client-settings .client-settings--profile .header__image img {
  width: inherit;
  height: inherit;
  border-radius: 20rem;
  border: 3px solid var(--light-1);
}

.client-settings .client-settings--profile .content {
  margin-top: 5rem;
}

.client-settings .client-settings--profile .content img {
  width: 4rem;
  height: 4rem;
  border-radius: 20rem;
}

.client-dashboard-navbar .cart i {
  font-size: 1.5rem;
}

.client-dashboard-navbar .cart span {
  top: 30%;
  left: 80%;
}

.admin-login::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../static_images/loginadmin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation: scale;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.admin nav a {
  color: var(--gray-3);
}

.admin nav a.active {
  position: relative;
  color: var(--bs-red);
}

.admin nav a.active::after {
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: var(--bs-red);
  top: 0;
  left: 0;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  content: "";
}

.admin .sidebar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.admin .sidebar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.admin .nav-tabs .nav-item a {
  color: var(--bs-secondary);
  font-weight: 500;
}

.admin .nav-tabs .nav-item a.active {
  border-bottom: 2px solid var(--bs-red) !important;
  color: var(--bs-red);
}

.admin .task p {
  color: var(--bs-secondary);
}

.admin .task .task__thumbnail {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 1rem;
}

.admin .task .task__creator {
  width: 2rem;
  height: 2rem;
  border-radius: 20rem;
}

.admin .stats i {
  font-size: 1.8rem;
}

.admin .stats .box-1 {
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
}

.admin .stats .box-2 {
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

.admin .stats .box-3 {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.admin .header__image {
  border-radius: 20rem;
}

.admin .header__image img {
  border-radius: 20rem;
  width: 8rem;
  height: 8rem;
}

.admin .content img {
  border-radius: 20rem;
  width: 4rem;
  height: 4rem;
}

/* 
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.5rem;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

section {
  min-height: 100vh;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--light-1);
}

.btn.btn-secondary {
  background-color: var(--secondary);
  color: var(--light-1);
}

.btn.btn-light {
  background-color: var(--gray-2);
  color: var(--light-1);
}

.btn.btn-outline-light {
  border: 1px solid var(--light-1);
  transition: all 0.2s;
}

.btn.btn-outline-light:hover {
  background-color: var(--light-1);
  color: var(--primary-dark);
}

.bordered {
  border-radius: 0.3rem;
}

.form-group input:not([type="file"]) {
  padding: 1rem 0.5rem;
  border: 1px solid var(--gray-1);
  border-radius: 0.5rem;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav div > * {
  margin-right: 2rem;
} */

/* NAVBAR */

/* .client_auth {
  padding: 2rem 6rem;
  background: var(--overlay-dark);
  color: var(--light-1);
}

.client_dashboard {
  box-shadow: 0 0.4rem 0.4rem 0 var(--gray-2);
}

.client_dashboard div .cart {
  transform: scale(1.3);
}

.client_dashboard div .image {
  width: 3rem;
  height: 3rem;
}

.client_dashboard div .image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.client_dashboard .popup_menu {
  position: relative;
}

.client_dashboard .popup_menu .menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 20%);
  list-style: none;
  color: var(--gray-1);
  background-color: var(--light-1);
  padding: 2rem;
  width: 18rem;
  display: none;
  flex-direction: column;
  box-shadow: 0.3rem 0.3rem 2.2rem 0.2rem var(--gray-2);
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.client_dashboard .popup_menu .menu li:not(:last-child) {
  margin-bottom: 1rem;
}

.client_dashboard .popup_menu .menu li a {
  color: inherit;
}

.client_dashboard .popup_menu label {
  cursor: pointer;
}

.client_dashboard .popup_menu input {
  display: none;
}

.client_dashboard .popup_menu input:checked ~ .menu {
  display: flex;
} */

/* PAGES */

/* .client--login {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/static_images/loginuser.jpg");
  background-size: cover;
  color: var(--light-1);
}

.client--login .container {
  display: flex;
  flex-direction: column;
  margin: 9rem 6rem;
  width: 30%;
}

.client--login .container h1,
.client--login .container h5 {
  font-weight: lighter;
}

.client--login .container h1 {
  font-size: 4rem;
}

.client--login .container h1 ~ div {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.client--login .container form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.client--login .container form .form-group {
  margin-top: 2rem;
  position: relative;
}

.client--login .container form .form-group input {
  border: 1px solid var(--light-1);
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--light-1);
}

.client--login .container form .form-group i {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.client--login .container h5 {
  font-size: 2rem;
}

.client--login .container h5 ~ a {
  margin-left: 0.5rem;
  color: var(--secondary);
  font-size: 2rem;
}

.client--login .container form div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.client--login .container .forgot-password {
  background: transparent;
  color: var(--light-1);
}

.client--login .overlay {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--overlay-dark);
}

.client--login .popup {
  display: none;
  background-color: var(--light-1);
  color: var(--gray-1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  width: 30%;
  padding: 2rem;
  border-radius: 0.5rem;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
.client--login .popup .popup-close {
  position: absolute;
  top: 5%;
  right: 5%;
  background: none;
  height: 2rem;
  width: 2rem;
}

.client--login .popup .popup-close i {
  color: var(--gray-1);
}
.client--login .popup form input {
  width: 100%;
}

.client--login .popup form > * {
  margin-top: 1.5rem;
}

.client--register {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.client--register .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: lighter;
  width: 50%;
}

.client--register .container h1 {
  font-weight: inherit;
  font-size: 3rem;
}

.client--register .container h5 {
  margin: 1.5rem 0 1rem 0;
  font-weight: inherit;
  font-size: 2rem;
}

.client--register .container h1 ~ div {
  display: flex;
  align-items: center;
}

.client--register .container h1 ~ div a {
  margin: 1.5rem 0 1rem 1rem;
  color: var(--secondary);
  font-size: 2rem;
}

.client--register .container form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.client--register .container form .form-group {
  margin-top: 2rem;
  position: relative;
}

.client--register .container form .form-group input {
  border: 1px solid var(--primary-dark);
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--primary-dark);
}

.client--register .container form .form-group i {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.client--register .container form div:last-child {
  margin-top: 2rem;
}

.client--register .image {
  max-width: 50%;
}

.client--register .image image {
  width: 100%;
}

.client--dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 7.5rem;
}

.client--dashboard .card {
  margin: 2rem 3rem;
  width: 25%;
  box-shadow: 0.3rem 0.3rem 2.2rem 0.2rem var(--gray-2);
  height: 100%;
}

.client--dashboard .card .image {
  height: 12rem;
  width: 100%;
}

.client--dashboard .card .image img {
  width: 100%;
  height: 100%;
}

.client--dashboard .card .details {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: var(--primary-dark);
}

.client--dashboard .card .details > * {
  margin-top: 2rem;
}

.client--dashboard .card .details a {
  font-weight: bold;
}

.client--dashboard .card form .jumlah {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.client--dashboard .card form .jumlah button {
  cursor: pointer;
  width: 100%;
  padding: 1rem 1rem;
  background-color: var(--gray-2);
  color: var(--light-1);
}

.client--dashboard .card form .jumlah h2 {
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.client--dashboard .card form .add {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.client--dashboard .card button {
  cursor: pointer;
  width: 100%;
  padding: 1rem 1rem;
  background-color: var(--secondary);
  color: var(--light-1);
}

.client--item-details {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.client--item-details .image {
  width: 50%;
}

.client--item-details .image img {
  width: 100%;
}

.client--item-details .detail {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.client--item-details .detail > * {
  margin-top: 3rem;
}

.client--item-details .detail .quantity {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.client--cart {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem;
  justify-content: space-between;
}

.client--cart form {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.client--cart form > * {
  margin-top: 2rem;
}

.client--cart form .form-group {
  display: flex;
  justify-content: space-between;
}

.client--cart form label {
  font-size: 2rem;
}

.client--cart .items {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
}

.client--cart .items > * {
  margin-bottom: 2rem;
}

.client--cart .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.client--cart .items .item a {
  background: none;
  color: var(--tertiary);
}

.client--cart .items .item .image {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.client--cart .items .item .image img {
  width: 100%;
}

.client--cart .items hr {
  background-color: var(--gray-1);
}

.client--profile {
  padding: 0 6rem;
}

.client--profile > * {
  margin-top: 4rem;
}

.client--profile h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.client--profile .container {
  display: flex;
  justify-content: space-between;
}

.client--profile .container .sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.client--profile .container .sidebar > * {
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.client--profile .container .sidebar li a {
  font-size: inherit;
}

.client--profile .container .form {
  width: 75%;
}

.client--profile .container .form form {
  display: flex;
  flex-direction: column;
}

.client--profile .container .form form .header {
  position: relative;
}

.client--profile .container .form form .header .header__background {
  min-height: 15rem;
  background: var(--gray-2);
  border-top-left-radius: 8rem;
}

.client--profile .container .form form .header .header__content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.client--profile .container .form form .header .header__content .header__image {
  width: 13rem;
  height: 13rem;
  border: 3px solid var(--light-2);
  border-radius: 15rem;
}

.client--profile
  .container
  .form
  form
  .header
  .header__content
  .header__image
  img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.client--profile .container .form form .header .header__content .header__title {
  display: flex;
  border-radius: 50px;
  flex-direction: column;
}

.client--profile
  .container
  .form
  form
  .header
  .header__content
  .header__title
  > * {
  margin-top: 2rem;
  font-size: 1.7rem;
}

.client--profile .container .form .content {
  margin: 0 auto;
  width: 90%;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
}

.client--profile .container .form .content .form-group {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client--profile
  .container
  .form
  .content
  .form-group
  div
  > *:not(:last-child) {
  margin-left: 2rem;
}

.client--profile .container .form .content .form-group input {
  min-width: 50%;
}

.client--profile .container .form .content .form-group div {
  display: flex;
  align-items: center;
}

.client--profile .container .form .content .form-group div label {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 4rem;
}

.client--profile .container .form .content .form-group div label img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
} */
