:root {
  --primary: #2f80ed;
  --primary-dark: #344154;
  --secondary: #1ccc66;
  --tertiary: #eb5757;
  --gray-1: #3e3e3e;
  --gray-2: #b3b3b3;
  --light-1: #fefefe;
  --light-2: #f2f1f6;
  --overlay-dark: rgba(28, 28, 28, 0.5);
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.5rem;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

section {
  min-height: 100vh;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--light-1);
}

.btn.btn-secondary {
  background-color: var(--secondary);
  color: var(--light-1);
}

.btn.btn-light {
  background-color: var(--gray-2);
  color: var(--light-1);
}

.btn.btn-outline-light {
  border: 1px solid var(--light-1);
  transition: all 0.2s;
}

.btn.btn-outline-light:hover {
  background-color: var(--light-1);
  color: var(--primary-dark);
}

.bordered {
  border-radius: 0.3rem;
}

.form-group input:not([type="file"]) {
  padding: 1rem 0.5rem;
  border: 1px solid var(--gray-1);
  border-radius: 0.5rem;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: inherit;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: inherit;
}

::placeholder {
  color: inherit;
}

a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav div > * {
  margin-right: 2rem;
}

/* NAVBAR */

.client_auth {
  background: var(--overlay-dark);
  color: var(--light-1);
}

.client_dashboard {
  box-shadow: 0 0.4rem 0.4rem 0 var(--gray-2);
}

.client_dashboard div .cart {
  transform: scale(1.3);
}

.client_dashboard div .image {
  width: 3rem;
  height: 3rem;
}

.client_dashboard div .image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.client_dashboard .popup_menu {
  position: relative;
}

.client_dashboard .popup_menu .menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 20%);
  list-style: none;
  color: var(--gray-1);
  background-color: var(--light-1);
  padding: 2rem;
  width: 18rem;
  display: none;
  flex-direction: column;
  box-shadow: 0.3rem 0.3rem 2.2rem 0.2rem var(--gray-2);
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.client_dashboard .popup_menu .menu li:not(:last-child) {
  margin-bottom: 1rem;
}

.client_dashboard .popup_menu .menu li a {
  color: inherit;
}

.client_dashboard .popup_menu label {
  cursor: pointer;
}

.client_dashboard .popup_menu input {
  display: none;
}

.client_dashboard .popup_menu input:checked ~ .menu {
  display: flex;
}

/* PAGES */

.client--login {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/static_images/loginuser.jpg");
  background-size: cover;
  color: var(--light-1);
}

.client--login .container {
  display: flex;
  flex-direction: column;
  margin: 9rem 6rem;
}

.client--login .container h1,
.client--login .container h5 {
  font-weight: lighter;
}

.client--login .container h1 {
  font-size: 4rem;
}

.client--login .container h1 ~ div {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.client--login .container form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.client--login .container form .form-group {
  margin-top: 2rem;
  position: relative;
}

.client--login .container form .form-group input {
  border: 1px solid var(--light-1);
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--light-1);
}

.client--login .container form .form-group i {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.client--login .container h5 {
  font-size: 2rem;
}

.client--login .container h5 ~ a {
  margin-left: 0.5rem;
  color: var(--secondary);
}

.client--login .container form div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.client--register {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.client--register .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: lighter;
  width: 50%;
}

.client--register .container h1 {
  font-weight: inherit;
  font-size: 3rem;
}

.client--register .container h5 {
  margin: 1.5rem 0 1rem 0;
  font-weight: inherit;
  font-size: 2rem;
}

.client--register .container h1 ~ div {
  display: flex;
}

.client--register .container h1 ~ div a {
  margin-left: 1rem;
  color: var(--secondary);
}

.client--register .container form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.client--register .container form .form-group {
  margin-top: 2rem;
  position: relative;
}

.client--register .container form .form-group input {
  border: 1px solid var(--primary-dark);
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--primary-dark);
}

.client--register .container form .form-group i {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.client--register .container form div:last-child {
  margin-top: 2rem;
}

.client--register .image {
  max-width: 50%;
}

.client--register .image image {
  width: 100%;
}

.client--dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 7.5rem;
}

.client--dashboard .card {
  margin: 2rem 3rem;
  width: 25%;
  box-shadow: 0.3rem 0.3rem 2.2rem 0.2rem var(--gray-2);
  height: 100%;
}

.client--dashboard .card .image {
  height: 12rem;
  width: 100%;
}

.client--dashboard .card .image img {
  width: 100%;
  height: 100%;
}

.client--dashboard .card .details {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: var(--primary-dark);
}

.client--dashboard .card .details > * {
  margin-top: 2rem;
}

.client--dashboard .card .details a {
  font-weight: bold;
}

.client--dashboard .card button {
  cursor: pointer;
  width: 100%;
  padding: 1rem 1rem;
  background-color: var(--secondary);
  color: var(--light-1);
}

.client--item-details {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.client--item-details .image {
  width: 50%;
}

.client--item-details .image img {
  width: 100%;
}

.client--item-details .detail {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.client--item-details .detail > * {
  margin-top: 3rem;
}

.client--item-details .detail .quantity {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.client--cart {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem;
  justify-content: space-between;
}

.client--cart form {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.client--cart form > * {
  margin-top: 2rem;
}

.client--cart form .form-group {
  display: flex;
  justify-content: space-between;
}

.client--cart form label {
  font-size: 2rem;
}

.client--cart .items {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
}

.client--cart .items > * {
  margin-bottom: 2rem;
}

.client--cart .items .item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.client--cart .items .item .image {
  width: 4rem;
  height: 4rem;
}

.client--cart .items .item .image img {
  width: 100%;
}

.client--cart .items hr {
  background-color: var(--gray-1);
}

.client--profile {
  padding: 0 6rem;
}

.client--profile > * {
  margin-top: 4rem;
}

.client--profile h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.client--profile .container {
  display: flex;
  justify-content: space-between;
}

.client--profile .container .sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.client--profile .container .sidebar > * {
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.client--profile .container .sidebar li a {
  font-size: inherit;
}

.client--profile .container .form {
  width: 75%;
}

.client--profile .container .form form {
  display: flex;
  flex-direction: column;
}

.client--profile .container .form form .header {
  position: relative;
}

.client--profile .container .form form .header .header__background {
  min-height: 15rem;
  background: var(--gray-2);
  border-top-left-radius: 8rem;
}

.client--profile .container .form form .header .header__content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.client--profile .container .form form .header .header__content .header__image {
  width: 13rem;
  height: 13rem;
  border: 3px solid var(--light-2);
  border-radius: 15rem;
}

.client--profile
  .container
  .form
  form
  .header
  .header__content
  .header__image
  img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.client--profile .container .form form .header .header__content .header__title {
  display: flex;
  border-radius: 50px;
  flex-direction: column;
}

.client--profile
  .container
  .form
  form
  .header
  .header__content
  .header__title
  > * {
  margin-top: 2rem;
  font-size: 1.7rem;
}

.client--profile .container .form .content {
  margin: 0 auto;
  width: 90%;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
}

.client--profile .container .form .content .form-group {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client--profile
  .container
  .form
  .content
  .form-group
  div
  > *:not(:last-child) {
  margin-left: 2rem;
}

.client--profile .container .form .content .form-group input {
  min-width: 50%;
}

.client--profile .container .form .content .form-group div {
  display: flex;
  align-items: center;
}

.client--profile .container .form .content .form-group div label {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 4rem;
}

.client--profile .container .form .content .form-group div label img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
